@{
    ViewBag.Title = "Create Employee";
}
<!DOCTYPE html>
<html>
<h2>Create Employee</h2>
<body>
<div>
    <form action="/Employee/SaveEmployee" method="post">
        <p>First Name: <input type="text" id="TxtFName" name="FirstName" value="" /><p/>
        <p>Last Name: <input type="text" id="TxtLName" name="LastName" value="" /><p/>
        <p>Salary: <input type="text" id="TxtSalary" name="Salary" value="" /><p/>
               <input type="submit" name="BtnSave" value="Save Employee" />
               <input type="button" name="BtnReset" value="Reset" />
    </form>
</div>
</body>
</html>
