@model FileUploadViewModel
@{
    ViewBag.Title = "Bulk Upload";
}
<h3>Bulk Upload</h3>
<div>
    <a href="/Employee/Index">Back</a>
    <form action="/BulkUpload/Upload" method="post" enctype="multipart/form-data">
        Select file: <input type="file" name="fileUpload" value="" />
        <input type="submit" name="name" value="Upload" />
    </form>
</div>
